body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: 'Segoe UI', sans-serif;
}

canvas {
    display: block;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    pointer-events: none;
    /* Чтобы мышь проходила сквозь текст к частицам */
}

h1 {
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.download-btn {
    padding: 15px 40px;
    font-size: 1rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: auto;
    /* А вот кнопку делаем кликабельной */
    transition: 0.4s;
}

.download-btn:hover {
    background: white;
    color: black;
}